@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  width: 100vw;
}

.header {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100vw;
  background-color: #1F2937;
}

.links {
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding-top: 7px;
}

.links .right-links {
  display: flex;
}

ul {
  gap: 16px;
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.logo a {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 16px;
}

.bottom div {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  color: #E5E7EB;
}

.bottom div span {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.bottom-button {
  width: 70px;
  background-color: #3882F6;
  border: none;
  border-radius: 6px;
  padding: 4px;
  color: #F9FAF8;
}

.info-div div img {
  width: 200px;
  height: auto;
}

.info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 16px;
  width: 100vw;
}

.info-div span {
  font-size: 32px;
  font-weight: 900;
  color: #1F2937;
}

.image-div {
  display: flex;
  gap: 16px
}

.image-div div {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 200px;
  gap: 5px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #E5E7EB;
  width: 100vw;
}

.quote div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 400px;
  font-size: 18px;
  color: #1F2937;
  font-family: "Light Italic";
}

.quote div p {
  align-self: flex-end;
}

.signup-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 100vw;
}

.signup-div-in {
  display: flex;
  width: 650px;
  height: 80px;
  background-color: #3882F6;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  justify-content: space-evenly;
}

.signup-div-in div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  font-size: 14px;
  color: #F9FAF8;
}

.signup-div-in div span {
  font-weight: 900;
  font-size: 16px;
}

.signup-button {
  height: 30px;
  width: 70px;
  background-color: #3882F6;
  border-radius: 6px;
  padding: 4px;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100vw;
  height: 70px;
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 12px;
}


